/.bloop/
/.bsp/
/.idea/
/.metals/
/.vscode/
/project/.bloop/
/project/project/project/target/config-classes/
/project/project/target/
/project/target/
/target/

.directory

/latex/.idea/
/latex/out/
/latex/latex.iml
/latex/thesis.pdf
